# do not include the git files when archiving
.gitattributes export-ignore
.gitignore export-ignore

# batch files should not have their line-endings changed
# (keep CRLF on the original file; LF endings breack batch scripts)
*.bat           eol=input

# do not convert CRLF endings to LF in general
[core]
	autocrlf = false